.container {
  text-align: center;
  background-image: url(../image/h1.jpg);
  background-size: cover;
  background-position: center;
}
.services {
  background-image: url(../image/services.jpg);

}
.aboutus {
  text-align: center;
}
