.container {
  text-align: center;
  background-image: url(../image/h1.jpg);
  background-size: cover;
  background-position: center;
}
.services {
  background-image: url(../image/services.jpg);
  color: white;
  text-align: center;

}
.aboutus {
  text-align: center;
}

.whatwedo {
  text-align: center;
}
